.lista-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', Arial, sans-serif;
}

.lista-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.loader {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.solicitudes-grid {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr; /* Cada solicitud ocupará toda la fila */
  gap: 20px; /* Espaciado entre las tarjetas */
}

.solicitud-card {
  background-color: #fdfdfd;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.solicitud-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.solicitud-header,
.solicitud-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px; /* Espaciado entre columnas */
  margin-bottom: 10px; /* Espaciado entre el bloque y el siguiente */
}

.solicitud-header div,
.solicitud-body div {
  margin-bottom: 0; /* Elimina márgenes adicionales */
  padding: 2px 0; /* Ajusta el espacio interno */
  color: #333;
  font-size: 14px;
}

.solicitud-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.solicitud-footer .btn-aceptar,
.solicitud-footer .btn-rechazar {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.solicitud-footer .btn-aceptar {
  background-color: #28a745;
  color: white;
}

.solicitud-footer .btn-aceptar:hover {
  background-color: #218838;
}

.solicitud-footer .btn-rechazar {
  background-color: #dc3545;
  color: white;
}

.solicitud-footer .btn-rechazar:hover {
  background-color: #c82333;
}

.solicitud-footer span {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.solicitud-footer span.en-proceso {
  background-color: #fff3cd;
  color: #856404;
}

.solicitud-footer span.aprobada {
  background-color: #d4edda;
  color: #155724;
}

.solicitud-footer span.rechazada {
  background-color: #f8d7da;
  color: #721c24;
}
