/* Contenedor principal */



.proceso-status {
  display: flex;
  flex-direction: column; /* Organiza en columna */
  align-items: flex-start; /* Alinea al inicio */
  gap: 5px; /* Espacio entre "Estado:" y el contenido */
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.loader {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

/* Diseño de la tarjeta */
.solicitudes-grid {
  display: flex;
  flex-direction: column; /* Mantener las solicitudes en columna */
  align-items: center; /* Centra horizontalmente las tarjetas */
  gap: 10px; /* Espacio entre tarjetas */
  margin-bottom: 80px;
}

.proceso-card {
  max-width: 1100px; /* Tamaño máximo de cada tarjeta */
  width: 100%; /* Que se adapte al tamaño del contenedor */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr; /* Columnas para contenido */
  gap: 10px;
  align-items: center; /* Centra verticalmente el contenido */
  
}

.proceso-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.proceso-info p {
  margin: 0;
  font-size: 0.95rem;
  color: #333;
}

.proceso-status {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espacio entre "Estado:" y el contenido */
}

.proceso-status p {
  margin: 0;
  text-align: left;
  font-size: 0.95rem;
}

/* Estados con íconos */
.estado-en-proceso {
  color: #ffc107; /* Azul */
}

.estado-aceptado {
  color: #28a745; /* Verde */
}

.estado-rechazado {
  color: #dc3545; /* Rojo */
}

.estado-icono {
  margin-right: 5px;
}

/* Ícono de ojito */
.icono-ojito {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.icono-ojito:hover {
  color: #007bff; /* Azul al pasar el cursor */
}
