<!-- Crear Estudiante -->
<div class="admin-card col-12 col-md-6 col-lg-3 mb-4">
  <h3 class="text-center" (click)="toggleSection('crearEstudiante')">Estudiantes</h3>
  <div *ngIf="isSectionVisible('crearEstudiante')" class="admin-actions">
    <div class="action-item" (click)="openAddEstudianteDialog()">
      <i class="pi pi-user-plus"></i>
      <p>Crear Estudiante</p>
    </div>

    <div class="action-item" (click)="openListEstudianteDialog()">
      <i class="pi pi-list"></i>
      <p>Listar Estudiantes</p>
    </div>
  </div>
</div>

<!-- Diálogo para Agregar Estudiante -->
<p-dialog header="Agregar Estudiante" [(visible)]="isDialogVisible" [modal]="true" [responsive]="true" width="400">
  <div class="p-fluid">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" [(ngModel)]="estudiante.nombre" pInputText />
    </div>

    <div class="p-field">
      <label for="apellido">Apellido</label>
      <input id="apellido" [(ngModel)]="estudiante.apellido" pInputText />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="estudiante.email" pInputText />
    </div>

    <div class="p-field">
      <label for="dni">DNI</label>
      <input id="dni" [(ngModel)]="estudiante.dni" pInputText />
    </div>

    <div class="p-field">
      <label for="codigo">Código</label>
      <input id="codigo" [(ngModel)]="estudiante.codigo" pInputText />
    </div>

    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input id="telefono" [(ngModel)]="estudiante.telefono" pInputText />
    </div>
  </div>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="saveEstudiante()" 
            [disabled]="!estudiante.nombre || !estudiante.apellido || !estudiante.email || !estudiante.dni || !estudiante.codigo || !estudiante.telefono">
    </button>
    <button pButton label="Cancelar" icon="pi pi-times" (click)="closeDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Notificación de éxito -->
<p-toast></p-toast>
<!-- Diálogo para Listado de Estudiantes con paginación -->
<p-dialog header="Listado de Estudiantes" [(visible)]="isListDialogVisible" [modal]="true" [closable]="true" [responsive]="true" [style]="{ width: '90vw', maxWidth: '1200px', height: '80vh', maxHeight: '80vh' }">
  <div class="p-fluid supervisores-container" style="overflow:auto; height: 100%;">
    <!-- Usando p-table para manejar el paginado -->
    <p-table [value]="estudiante2" [paginator]="true" [rows]="5" [responsive]="true" [rowsPerPageOptions]="[5, 10, 15]" [(first)]="first" [loading]="loading" [style]="{ width: '100%' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Código</th>
          <th>Teléfono</th>
          <th>DNI</th>
          <th class="actions-header">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-estudiante>
        <tr>
          <td>{{ estudiante.nombre }}</td>
          <td>{{ estudiante.apellido }}</td>
          <td>{{ estudiante.email }}</td>
          <td>{{ estudiante.codigo }}</td>
          <td>{{ estudiante.telefono }}</td>
          <td>{{ estudiante.dni }}</td>
          <td class="supervisor-actions">
            <button pButton icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-info" title="Editar" (click)="editEstudiante(estudiante)"></button>
            <button pButton icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger" title="Eliminar"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>


<!-- Diálogo para Editar Estudiante -->
<p-dialog header="Editar Estudiante" [(visible)]="displayEditDialog" [modal]="true" [responsive]="true" [style]="{ width: '400px' }">
  <div class="p-fluid">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" [(ngModel)]="selectedEstudiante.nombre" pInputText />
    </div>

    <div class="p-field">
      <label for="apellido">Apellido</label>
      <input id="apellido" [(ngModel)]="selectedEstudiante.apellido" pInputText />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="selectedEstudiante.email" pInputText />
    </div>

    <div class="p-field">
      <label for="dni">DNI</label>
      <input id="dni" [(ngModel)]="selectedEstudiante.dni" pInputText />
    </div>

    <div class="p-field">
      <label for="codigo">Código</label>
      <input id="codigo" [(ngModel)]="selectedEstudiante.codigo" pInputText />
    </div>

    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input id="telefono" [(ngModel)]="selectedEstudiante.telefono" pInputText />
    </div>
  </div>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="updateEstudiante()"></button>
    <button pButton label="Cancelar" icon="pi pi-times" (click)="displayEditDialog = false"></button>
  </p-footer>
</p-dialog>
