<div class="dashboard-container">
  <nav class="sidebar" 
       [class.collapsed]="isCollapsed" 
       (mouseenter)="isCollapsed = false" 
       (mouseleave)="isCollapsed = true">
    
    <!-- Imagen de perfil para todos los roles que tengan foto de perfil -->
    <div *ngIf="profileImage" class="profile-section">
      <img [src]="profileImage" alt="Profile Image" class="profile-image" />
    </div>

    <ul>
      <!-- Opción de inicio para todos los roles -->
      <li>
        <a routerLink="/dashboard" class="logo">
          <fa-icon [icon]="faHome"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Inicio</span>
        </a>
      </li>

      <!-- Opción de Carta de Aceptación solo para el rol "user" -->
      <li *ngIf="role === 'user'">
        <a routerLink="/dashboard/carta-aceptacion">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Carta de Aceptación</span>
        </a>
      </li>

      <!-- Opciones adicionales solo para el rol "coordinador" -->
      <ng-container *ngIf="role === 'coordinador'">
        <li>
          <a routerLink="option1">
            <fa-icon [icon]="faChartBar"></fa-icon>
            <span class="nav-item" *ngIf="!isCollapsed">Opción 1</span>
          </a>
        </li>
        <li>
          <a routerLink="option2">
            <fa-icon [icon]="faCog"></fa-icon>
            <span class="nav-item" *ngIf="!isCollapsed">Opción 2</span>
          </a>
        </li>
      </ng-container>

      <!-- Opción de Cerrar sesión para todos los roles -->
      <li>
        <a (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Contenido dinámico cargado dentro del dashboard -->
  <div class="content" [class.collapsed]="isCollapsed">
    <router-outlet></router-outlet> <!-- Aquí se cargan los componentes hijos -->
  </div>
</div>