<div class="dashboard-container">
  <nav class="sidebar" 
       [class.collapsed]="isCollapsed" 
       (mouseenter)="isCollapsed = false" 
       (mouseleave)="isCollapsed = true">
    
    <!-- Imagen de perfil y opciones de menú en el sidebar -->
    <div *ngIf="profileImage" class="profile-section">
      <img [src]="profileImage" alt="Profile Image" class="profile-image" />
    </div>

    <ul>
      <li>
        <a routerLink="/dashboard" class="logo">
          <fa-icon [icon]="faHome"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Inicio</span>
        </a>
      </li>

      <!-- Opciones exclusivas para el rol de usuario -->
      <li *ngIf="role === 'estudiante'">
        <a routerLink="/dashboard/carta-aceptacion">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Carta de Aceptación</span>
        </a>
      </li>

      <li *ngIf="role === 'estudiante'">
        <a routerLink="/dashboard/lista-procesos">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Lista de Procesos</span>
        </a>
      </li>

      <li *ngIf="role === 'estudiante'">
        <a routerLink="/dashboard/registro-practicas">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Registro de Prácticas</span>
        </a>
      </li>

      <li *ngIf="role === 'coordinador'">
        <a routerLink="/dashboard/lista-solicitudes">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Lista Solicitudes</span>
        </a>
      </li>

      <li *ngIf="role === 'coordinador'">
        <a routerLink="/dashboard/lista-solicitudes-aprobadas">
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Lista Solicitudes aprobadas</span>
        </a>
      </li>

      <li>
        <a (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span class="nav-item" *ngIf="!isCollapsed">Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Área principal del contenido, donde el contenido de cada sección se cargará dinámicamente -->
  <div class="content" [class.collapsed]="isCollapsed">
    
    <router-outlet></router-outlet> <!-- Aquí se cargan los componentes hijos como CartaAceptacionComponent -->
  </div>
</div>
