<div class="container">
  <div class="header">
    <h1>Lista de solicitudes aprobadas</h1>
    <div class="search">
      <input type="text" placeholder="Buscar" />
      <button>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="content">
    <div class="item" (click)="openSesionModal()">
      <div class="info">
        <p class="name">Practicante 001</p>
        <p class="code">Código: 202420900</p>
        <p class="company">Empresa: Artes Cooperaty express</p>
        <p class="rnc">Número de RUC: 20100022004</p>
      </div>
      <div class="status">
        <span class="status-label">Sin evaluar</span>
        <i class="fas fa-eye"></i>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="isSesionModalVisible" class="modal-overlay">
    <div class="modal-content">
      <!-- Revisa que solo haya una instancia de este componente -->
      <app-registro-evaluaciones (modalClosed)="closeSesionModal()"></app-registro-evaluaciones>
    </div>
  </div>
</div>
