/* Contenedor común de los módulos */
.modules-container {
    margin-bottom: 30px;  /* Ajusta el margen inferior de todos los módulos */
  }
  
  /* Si deseas aplicar margen inferior individual a cada módulo */
  app-excel,
  app-supervisor,
  app-estudiante {
    margin-bottom: 0px;  /* Margen entre cada módulo */
  }
  
  /* Opcionalmente, si deseas controlar el margen solo cuando el módulo 'estudiante' se muestra */
  app-estudiante {
    margin-bottom: auto;  /* Ajuste específico para el módulo 'estudiante' */
  }
  
  /* Diseño Responsivo (ajustar en pantallas pequeñas) */
  @media (max-width: 768px) {
    .modules-container {
      margin-bottom: 15px;  /* Menor margen en pantallas pequeñas */
    }
  
    app-excel,
    app-supervisor,
    app-estudiante {
      margin-bottom: 10px;  /* Ajustar márgenes más pequeños */
    }
  }
  